<main>
    <div class="card-center">
        <h1>Find your ideal Roommate</h1> <br>
        <p>Some content about the application.</p>
        <a href="/login">Click here to start your journey</a>
    </div>
</main>