<main>

    <div class="container">
        <div class="row align-items-center vh-100">
            <div class="col-8 mx-auto">
                <div class="card shadow border">
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class="card">
                            <h1 class="card-header">Find your ideal Roommate</h1>
                            <div class="card-body justify-content-center">
                                <p class="card-text">Some content about the application.</p>
                                <a href="/login" class="btn btn-primary">Click here to start your journey</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</main>