<main>
    <div class="login-page">
        <form id="login-form" method="POST" action="/login">
            <label class="emailId" for="emailId">Enter email:</label>
            <input type="email" id="emailId" name="emailId"/>
            <label class="password" for="password">Enter password:</label>
            <input type="password" id="password" name="password"/>
            <button type="submit">Login</button>
        </form>

        <a href="/register">Click here to register!</a>
    </div>
</main>