<main>
    <div class="login-page">
        <form id="login-form" method="POST" action="/login">
            <label class="enterUser" for="usernameInput">Enter username:</label>
            <input type="text" id="usernameInput" name="usernameInput"/>
            <label class="enterPassword" for="passwordInput">Enter password:</label>
            <input type="password" id="passwordInput" name="passwordInput"/>
            <button type="submit">Login</button>
        </form>

        <a href="/register">Click here to register!</a>
    </div>
</main>