<main>

    <div class="container">
        <div class="row align-items-center vh-100">
            <div class="col-18 mx-auto">
                <div class="card shadow border">
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class="register-page">
                            <form id="registration-form" method="POST" action="/register">

                                <!-- First name input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label firstName" for="firstName">Your First Name</label>


                                    <input type="text" id="firstName" name="firstName" class="form-control"
                                        placeholder="Enter first name">

                                    <div class="alert alert-danger div-text" role="alert" id="no-first-name" hidden>
                                        Please enter your First Name</div>

                                </div>

                                <!-- Last name input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label lastName" for="lastName">Your Last Name</label>

                                    <input type="text" id="lastName" name="lastName" class="form-control"
                                        placeholder="Enter last name">
                                    <div class="alert alert-danger div-text" role="alert" id="no-last-name" hidden>
                                        Please enter your Last Name</div>
                                </div>

                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label emailId" for="emailId">Your Email</label>


                                    <input type="email" id="emailId" name="emailId" pattern=".+@stevens\.edu"
                                        class="form-control" placeholder="Enter your Email">
                                    <div class="alert alert-danger div-text" role="alert" id="no-email" hidden>Please
                                        enter your Email</div>
                                    <div class="alert alert-danger div-text" role="alert" id="registered-email" hidden>
                                        Please enter your Email</div>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label password" for="password">Your Password</label>


                                    <input type="password" id="password" name="password" class="form-control"
                                        placeholder="Enter your password">
                                    <div id="no-password" class="alert alert-danger div-text" role="alert" hidden>Please
                                        enter your password</div>

                                </div>

                                <!-- Age input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label age" for="age">Your Age</label>
                                    <input type="number" class="form-control" id="age" min="22" max="80" name="age"
                                        placeholder="Enter your age" />
                                    <div id="no-age" class="alert alert-danger div-text" role="alert" hidden>Please
                                        enter your age</div>
                                </div>


                                <!-- Phone input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label phoneNumber" for="phoneNumber">Your Phone No.</label>
                                    <input type="number" class="form-control" id="phoneNumber" name="phoneNumber"
                                        placeholder="Enter your phone number" />
                                    <div id="no-phone" class="alert alert-danger div-text" role="alert" hidden>Please
                                        enter your phone number
                                    </div>
                                </div>

                                <!-- Gender input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label gender" for="gender">Your Gender</label>
                                    <select class="custom-select" id="gender" name="gender" required>
                                        {{!-- <option selected disabled>Select your gender</option> --}}
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                        <option value="dontdisclose">Don't wish to disclose</option>
                                    </select>
                                    <div id="no-gender" class="alert alert-danger div-text" role="alert" hidden>Please
                                        select a gender</div>
                                </div>

                                <!-- Nationality input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label nationality" for="nationality">Your Nationality</label>
                                    <select class="custom-select" id="nationality" name="nationality" required>
                                        {{!-- <option selected disabled>Choose your Nationality</option> --}}
                                        <option value="">Other</option>
                                        <option value="afghan">Afghan</option>
                                        <option value="albanian">Albanian</option>
                                        <option value="algerian">Algerian</option>
                                        <option value="american">American</option>
                                        <option value="andorran">Andorran</option>
                                        <option value="angolan">Angolan</option>
                                        <option value="antiguans">Antiguans</option>
                                        <option value="argentinean">Argentinean</option>
                                        <option value="armenian">Armenian</option>
                                        <option value="australian">Australian</option>
                                        <option value="austrian">Austrian</option>
                                        <option value="azerbaijani">Azerbaijani</option>
                                        <option value="bahamian">Bahamian</option>
                                        <option value="bahraini">Bahraini</option>
                                        <option value="bangladeshi">Bangladeshi</option>
                                        <option value="barbadian">Barbadian</option>
                                        <option value="barbudans">Barbudans</option>
                                        <option value="batswana">Batswana</option>
                                        <option value="belarusian">Belarusian</option>
                                        <option value="belgian">Belgian</option>
                                        <option value="belizean">Belizean</option>
                                        <option value="beninese">Beninese</option>
                                        <option value="bhutanese">Bhutanese</option>
                                        <option value="bolivian">Bolivian</option>
                                        <option value="bosnian">Bosnian</option>
                                        <option value="brazilian">Brazilian</option>
                                        <option value="british">British</option>
                                        <option value="bruneian">Bruneian</option>
                                        <option value="bulgarian">Bulgarian</option>
                                        <option value="burkinabe">Burkinabe</option>
                                        <option value="burmese">Burmese</option>
                                        <option value="burundian">Burundian</option>
                                        <option value="cambodian">Cambodian</option>
                                        <option value="cameroonian">Cameroonian</option>
                                        <option value="canadian">Canadian</option>
                                        <option value="cape verdean">Cape Verdean</option>
                                        <option value="central african">Central African</option>
                                        <option value="chadian">Chadian</option>
                                        <option value="chilean">Chilean</option>
                                        <option value="chinese">Chinese</option>
                                        <option value="colombian">Colombian</option>
                                        <option value="comoran">Comoran</option>
                                        <option value="congolese">Congolese</option>
                                        <option value="costa rican">Costa Rican</option>
                                        <option value="croatian">Croatian</option>
                                        <option value="cuban">Cuban</option>
                                        <option value="cypriot">Cypriot</option>
                                        <option value="czech">Czech</option>
                                        <option value="danish">Danish</option>
                                        <option value="djibouti">Djibouti</option>
                                        <option value="dominican">Dominican</option>
                                        <option value="dutch">Dutch</option>
                                        <option value="east timorese">East Timorese</option>
                                        <option value="ecuadorean">Ecuadorean</option>
                                        <option value="egyptian">Egyptian</option>
                                        <option value="emirian">Emirian</option>
                                        <option value="equatorial guinean">Equatorial Guinean</option>
                                        <option value="eritrean">Eritrean</option>
                                        <option value="estonian">Estonian</option>
                                        <option value="ethiopian">Ethiopian</option>
                                        <option value="fijian">Fijian</option>
                                        <option value="filipino">Filipino</option>
                                        <option value="finnish">Finnish</option>
                                        <option value="french">French</option>
                                        <option value="gabonese">Gabonese</option>
                                        <option value="gambian">Gambian</option>
                                        <option value="georgian">Georgian</option>
                                        <option value="german">German</option>
                                        <option value="ghanaian">Ghanaian</option>
                                        <option value="greek">Greek</option>
                                        <option value="grenadian">Grenadian</option>
                                        <option value="guatemalan">Guatemalan</option>
                                        <option value="guinea-bissauan">Guinea-Bissauan</option>
                                        <option value="guinean">Guinean</option>
                                        <option value="guyanese">Guyanese</option>
                                        <option value="haitian">Haitian</option>
                                        <option value="herzegovinian">Herzegovinian</option>
                                        <option value="honduran">Honduran</option>
                                        <option value="hungarian">Hungarian</option>
                                        <option value="icelander">Icelander</option>
                                        <option value="indian">Indian</option>
                                        <option value="indonesian">Indonesian</option>
                                        <option value="iranian">Iranian</option>
                                        <option value="iraqi">Iraqi</option>
                                        <option value="irish">Irish</option>
                                        <option value="israeli">Israeli</option>
                                        <option value="italian">Italian</option>
                                        <option value="ivorian">Ivorian</option>
                                        <option value="jamaican">Jamaican</option>
                                        <option value="japanese">Japanese</option>
                                        <option value="jordanian">Jordanian</option>
                                        <option value="kazakhstani">Kazakhstani</option>
                                        <option value="kenyan">Kenyan</option>
                                        <option value="kittian and nevisian">Kittian and Nevisian</option>
                                        <option value="kuwaiti">Kuwaiti</option>
                                        <option value="kyrgyz">Kyrgyz</option>
                                        <option value="laotian">Laotian</option>
                                        <option value="latvian">Latvian</option>
                                        <option value="lebanese">Lebanese</option>
                                        <option value="liberian">Liberian</option>
                                        <option value="libyan">Libyan</option>
                                        <option value="liechtensteiner">Liechtensteiner</option>
                                        <option value="lithuanian">Lithuanian</option>
                                        <option value="luxembourger">Luxembourger</option>
                                        <option value="macedonian">Macedonian</option>
                                        <option value="malagasy">Malagasy</option>
                                        <option value="malawian">Malawian</option>
                                        <option value="malaysian">Malaysian</option>
                                        <option value="maldivan">Maldivan</option>
                                        <option value="malian">Malian</option>
                                        <option value="maltese">Maltese</option>
                                        <option value="marshallese">Marshallese</option>
                                        <option value="mauritanian">Mauritanian</option>
                                        <option value="mauritian">Mauritian</option>
                                        <option value="mexican">Mexican</option>
                                        <option value="micronesian">Micronesian</option>
                                        <option value="moldovan">Moldovan</option>
                                        <option value="monacan">Monacan</option>
                                        <option value="mongolian">Mongolian</option>
                                        <option value="moroccan">Moroccan</option>
                                        <option value="mosotho">Mosotho</option>
                                        <option value="motswana">Motswana</option>
                                        <option value="mozambican">Mozambican</option>
                                        <option value="namibian">Namibian</option>
                                        <option value="nauruan">Nauruan</option>
                                        <option value="nepalese">Nepalese</option>
                                        <option value="new zealander">New Zealander</option>
                                        <option value="ni-vanuatu">Ni-Vanuatu</option>
                                        <option value="nicaraguan">Nicaraguan</option>
                                        <option value="nigerien">Nigerien</option>
                                        <option value="north korean">North Korean</option>
                                        <option value="northern irish">Northern Irish</option>
                                        <option value="norwegian">Norwegian</option>
                                        <option value="omani">Omani</option>
                                        <option value="pakistani">Pakistani</option>
                                        <option value="palauan">Palauan</option>
                                        <option value="panamanian">Panamanian</option>
                                        <option value="papua new guinean">Papua New Guinean</option>
                                        <option value="paraguayan">Paraguayan</option>
                                        <option value="peruvian">Peruvian</option>
                                        <option value="polish">Polish</option>
                                        <option value="portuguese">Portuguese</option>
                                        <option value="qatari">Qatari</option>
                                        <option value="romanian">Romanian</option>
                                        <option value="russian">Russian</option>
                                        <option value="rwandan">Rwandan</option>
                                        <option value="saint lucian">Saint Lucian</option>
                                        <option value="salvadoran">Salvadoran</option>
                                        <option value="samoan">Samoan</option>
                                        <option value="san marinese">San Marinese</option>
                                        <option value="sao tomean">Sao Tomean</option>
                                        <option value="saudi">Saudi</option>
                                        <option value="scottish">Scottish</option>
                                        <option value="senegalese">Senegalese</option>
                                        <option value="serbian">Serbian</option>
                                        <option value="seychellois">Seychellois</option>
                                        <option value="sierra leonean">Sierra Leonean</option>
                                        <option value="singaporean">Singaporean</option>
                                        <option value="slovakian">Slovakian</option>
                                        <option value="slovenian">Slovenian</option>
                                        <option value="solomon islander">Solomon Islander</option>
                                        <option value="somali">Somali</option>
                                        <option value="south african">South African</option>
                                        <option value="south korean">South Korean</option>
                                        <option value="spanish">Spanish</option>
                                        <option value="sri lankan">Sri Lankan</option>
                                        <option value="sudanese">Sudanese</option>
                                        <option value="surinamer">Surinamer</option>
                                        <option value="swazi">Swazi</option>
                                        <option value="swedish">Swedish</option>
                                        <option value="swiss">Swiss</option>
                                        <option value="syrian">Syrian</option>
                                        <option value="taiwanese">Taiwanese</option>
                                        <option value="tajik">Tajik</option>
                                        <option value="tanzanian">Tanzanian</option>
                                        <option value="thai">Thai</option>
                                        <option value="togolese">Togolese</option>
                                        <option value="tongan">Tongan</option>
                                        <option value="trinidadian or tobagonian">Trinidadian or Tobagonian</option>
                                        <option value="tunisian">Tunisian</option>
                                        <option value="turkish">Turkish</option>
                                        <option value="tuvaluan">Tuvaluan</option>
                                        <option value="ugandan">Ugandan</option>
                                        <option value="ukrainian">Ukrainian</option>
                                        <option value="uruguayan">Uruguayan</option>
                                        <option value="uzbekistani">Uzbekistani</option>
                                        <option value="venezuelan">Venezuelan</option>
                                        <option value="vietnamese">Vietnamese</option>
                                        <option value="welsh">Welsh</option>
                                        <option value="yemenite">Yemenite</option>
                                        <option value="zambian">Zambian</option>
                                        <option value="zimbabwean">Zimbabwean</option>
                                    </select>
                                    <div id="no-nationality" class="alert alert-danger div-text" role="alert" hidden>
                                        Please select a nationality</div>
                                </div>

                                <!-- About-me input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label aboutMe" for="aboutMe" name="aboutMe">About me</label>
                                    <textarea class="form-control" id="aboutMe" name="aboutMe" rows="5"></textarea>
                                    <div id="no-aboutme" class="alert alert-danger div-text" role="alert" hidden>Please
                                        enter something about yourself
                                    </div>
                                </div>


                                <!-- Preferences input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label preference" id="preference" name="preference">Your
                                        Preferences</label>
                                    <br>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="preference[drinking]"
                                            id="drinking" value="Drinking" checked>
                                        <label class="form-check-label" for="drinking">Drinking</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="preference[drinking]"
                                            id="nodrinking" value="No Drinking">
                                        <label class="form-check-label" for="nodrinking">No Drinking</label>
                                    </div>

                                    <br>


                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="preference[smoking]"
                                            id="smoking" value="Smoking" checked>
                                        <label class="form-check-label" for="smoking">Smoking</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="preference[smoking]"
                                            id="nosmoking" value="No Smoking">
                                        <label class="form-check-label" for="nosmoking">No Smoking</label>
                                    </div>

                                    <br>


                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="preference[food]"
                                            id="vegetarian" value="Vegetarian" checked>
                                        <label class="form-check-label" for="vegetarian">Vegetarian</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="preference[food]"
                                            id="nonvegetarian" value="Non Vegetarian">
                                        <label class="form-check-label" for="nonvegetarian">Non Vegetarian</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="preference[food]"
                                            id="vegan" value="Vegan">
                                        <label class="form-check-label" for="vegan">Vegan</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="preference[food]"
                                            id="eggitarian" value="Eggitarian">
                                        <label class="form-check-label" for="eggitarian">Eggitarian</label>
                                    </div>

                                    <br>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="preference[room]"
                                            id="privateroom" value="Private Room" checked>
                                        <label class="form-check-label" for="privateroom">Private Room</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="preference[room]"
                                            id="sharedroom" value="Shared Room">
                                        <label class="form-check-label" for="sharedroom">Shared Room</label>
                                    </div>

                                    <br>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="preference[home_type]"
                                            id="apartments" value="Apartment" checked>
                                        <label class="form-check-label" for="apartments">Apartment</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="preference[home_type]"
                                            id="condos" value="Condos">
                                        <label class="form-check-label" for="condos">Condo</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="preference[home_type]"
                                            id="townhouse" value="Townhouse">
                                        <label class="form-check-label" for="townhouse">Townhouse</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="preference[home_type]"
                                            id="studioapt" value="Studio Apartment">
                                        <label class="form-check-label" for="studioapt">Studio Apartment</label>
                                    </div>

                                    <br>

                                    <label for="preference[location]" name="preference[location]"></label>
                                    <select class="custom-select" name="preference[location]" id="location" required>
                                        <option selected disabled>Choose your preferred location</option>
                                        <option value="Jersey City">Jersey City</option>
                                        <option value="Hoboken">Hoboken</option>
                                        <option value="Journal Square">Journal Square</option>
                                        <option value="Weehawken">Weehawken</option>
                                        <option value="Union City">Union City</option>
                                        <option value="Newport">Newport</option>
                                    </select>

                                </div>

                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                    <button type="submit" class="btn btn-primary btn-lg"
                                        id="buttonregister">Register</button>
                                </div>

                            </form>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <a href="/login">Already have an account? Click here to log-in</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
    {{/if}}

    <!--
    <script src="../public/js/errors.js"></script> 
    -->
</main>

