<main>
    <div class="col-sm">
        <ul>
            {{#each userRec}}
            <li>
                <p>{{this.firstName}}</p>
            </li>
            {{/each}}
        </ul>
    </div>
</main>