<main>
    <div class="container">
        <div class="row">
            
            <div class="col-md-8 col-md-offset-2">

                <h1>Edit post</h1>

                <form id="posts-form" method="POST" action="/posts/edit/{{id}}">

                    <!-- Input to add Post Title -->
                    <div class="form-group">
                        <label class="postTitle" for="postTitle">Post Title</label>
                        <input type="text" class="form-control" id="postTitle" name="postTitle" />
                    </div>

                    <!-- Input to add Apartment/ Post Details -->
                    <div class="form-group">
                        <label class="postBody" for="postBody" name="postBody">Post Description</label>
                        <textarea rows="10" class="form-control" id="postBody" name="postBody"></textarea>
                    </div>

                    <!-- Input to upload picture for the Post -->
                    <div class="form-group">
                        <label class="form-label postPicture" for="postPicture">Upload Photo</label>
                        <input type="file" class="form-control" id="postPicture" name="postPicture" accept="image/*" />
                    </div>

                    <!-- Edit Button -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-edit"></span>
                            Edit Post
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</main>