<main>
    <div class="container-post">
        <div class="block-posts">
            <form id="posts-form" method="POST" action="/posts/edit/{{id}}">
            <!-- Input to add Post Title -->
            <label class="enterUser" for="postTitle">Post Title :</label>
            <input type="text" id="postTitle" name="postTitle"/>

            <label class="enterUser" for="">Post Body :</label>
            <input type="text" id="postBody" name="postBody"/>

            <label class="aptPhotos" for="postPicture">Post pic :</label>
            <input type="file" id="postPicture" name="postPicture"/>

            <!-- Edit Button-->
            <button type="submit">Edit Post</button>
            </form>
        </div>
    </div>
</main>