{{!-- all handlerbars --}}
<main>
    <div class="search-card">
        <form id="search-form" method="POST" action="/search">
            <input id="search-bar" type="text" name="search" class = "searchFields" placeholder="Search a user or post" />
            <input type="submit" class = "btn" value="Search" />
        </form>
    </div>
    {{#each posts}}
    <div class="post-details-card">
        <div class="row">
            <div class="col-sm">
                <p>some img</p>
            </div>
            <div class="col-sm">
                <p>{{this.userId}}</p>
                <h2>{{this.postTitle}}</h2>
                <p>{{this.postBody}}</p>
                <p>location</p>
                <p>date</p>
            </div>
        </div>
    </div>
    {{/each}}
</main>